div.backDiv {
    background-color: #1c1c1c;
    display: flex;
    justify-content: center;
}

div.bodyDiv {
    background-color: #bfbfbf;
    width: 50%;
    position: relative;
    top: -2em;
    height: 50em;
}
