body {
    margin: 0;
    background-color: #1c1c1c;
}

div.bodyWrap {
    display: flex;
    justify-content: center;
    padding-bottom: 2cm;
}

div.bodyDiv {
    background-color: #bfbfbf;
    width: 50%;
    position: relative;
    top: -2em;
    height: 50em;
}
