@import url('https://fonts.googleapis.com/css?family=Ubuntu|Nunito+Sans');

div.headerDiv {
    background-color: #2e2e2e;
    padding-bottom: .5em;
    padding-top: 1.5em;
    margin-bottom: 4em;;
}

h1.headerName {
    margin:0;
    text-align: center;
    font-family:Nunito Sans;
    color: #c2c2c2;
    font-size: 3em;
}

h2.headerMajor {
    font-family:Nunito Sans;
    color: #c2c2c2;
    text-align: center;
    font-weight: normal;
    font-size: 2em;
    
    margin-top: 0;
}

h3.headerConc {
    font-family:Nunito Sans;
    color: #c2c2c2;
    text-align: center;
    font-weight: normal;
    margin-top: .2em;
}
