

p {
    color: aliceblue;
}

h1.projectHeader {
    text-align: center;
    color: aliceblue;
}

div.projectWrapperWrapper {
    display: flex;
    justify-content: center;
}

div.projectWrapper {
    margin: 0 5cm;
    width: 27cm;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div.project {
    background-color: #3d3d3d;
    margin: .4cm;
    min-width: 8cm;
    padding: 0;
    position: relative;
    flex-grow: 1;
    flex-shrink: 0;
    height: 300px;
}